.dashboard {
  &__content {
    margin-top: 32px;
  }

  &__user-profile,
  &__user-billing {
    &:hover {
      box-shadow: none;
      border-color: color(gray-1);
    }
  }

  // User profile card
  &__user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-img {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      overflow: hidden;
      margin-bottom: 8px;
      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }

    &-info {
      .name,
      .designation,
      .edit {
        text-transform: capitalize;
      }
      .name {
        color: color(gray-9);
      }
      .designation {
        color: color(gray-5);
      }
      .edit {
        color: color(primary);
        margin-top: 9px;
      }
    }
  }
  // User Billing card
  &__user-billing {
    &-title {
      line-height: 14px;
      text-transform: uppercase;
      color: color(gray-4);
      letter-spacing: 0.03em;
      margin-bottom: 18px;
    }

    &-name,
    &-location,
    &-editaddress {
      text-transform: capitalize;
    }

    &-name,
    &-email,
    &-number {
      color: color(gray-9);
    }
    &-location {
      color: color(gray-6);
    }
    &-editaddress {
      color: color(primary);
      margin-top: 12px;
      &:hover {
        color: color(primary);
      }
    }

    &-name,
    &-location {
      margin-bottom: 8px;
    }
    &-email,
    &-number {
      margin-bottom: 6px;
    }
  }

  &__details-content {
    margin: 24px;
    @include max(767px) {
      margin: 12px;
    }
  }

  &__details-card,
  &__totalpayment-card {
    position: relative;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include max(1200px) {
      height: auto;
    }
  }

  // Details card
  &__details-card {
    display: flex;
    align-items: center;
    @include max(1200px) {
      margin-bottom: 24px;
    }
    @include max(767px) {
      flex-direction: column;
    }

    &-item {
      height: inherit;
      border-right: 1px solid #e5efef;
      &:nth-last-child(1) {
        border-right: 0px;
        @include max(767px) {
          .dashboard__details-card-title {
            border-top: 1px solid #e5efef;
          }
        }
      }
      @include max(767px) {
        width: 100%;
        border: 0px;
      }

      &__inner {
        padding: 14px 20px;
        @include max(767px) {
          padding: 14px;
        }
        h2 {
          text-transform: capitalize;
          color: color(gray-9);
          margin-bottom: 8px;
        }
        p {
          text-transform: capitalize;
          color: color(gray-6);
        }

        &-contact {
          margin-bottom: 12px;
          h5 {
            font-size: 12px;
            line-height: 12px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: color(gray-4);
            margin-bottom: 4px;
          }
          p {
            color: color(gray-9);
          }
        }
      }
    }

    &-title {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.03em;
      color: color(gray-4);
      text-transform: uppercase;
      padding: 18px 20px;
      border-bottom: 1px solid #e5e5e5;
    }
  }

  // Payment total
  &__totalpayment-card {
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #e5e5e5;
      &-item {
        padding: 20px;
        border-right: 1px solid #e5e5e5;
        @include max(767px) {
          padding: 20px 10px;
        }
        &:nth-last-child(1) {
          border: 0px;
        }
        h5 {
          font-size: 12px;
          line-height: 12px;
          letter-spacing: 0.03em;
          color: color(gray-5);
          text-transform: uppercase;
          margin-bottom: 6px;
        }
        p {
          color: color(gray-9);
          text-transform: capitalize;
        }
      }
    }

    &-body {
      padding: 18px 20px;
      @include max(767px) {
        padding: 18px 10px;
      }
      &-item {
        display: flex;
        justify-content: space-between;
        padding: 13px 0px;
        border-bottom: 1px solid #e5e5e5;
        &:nth-child(1) {
          padding-top: 0px;
        }
        &:nth-last-child(1) {
          border: 0px;
        }

        h5 {
          text-transform: capitalize;
          color: color(gray-6);
        }
        p {
          font-weight: 500;
          color: color(gray-9);
          text-align: right;
        }

        &.total {
          h5 {
            color: color(gray-9);
          }
          p {
            font-weight: 600;
            color: color(hard-primary);
          }
        }
      }
    }
  }

  &__user-profile,
  &__user-billing {
    @include max(991px) {
      margin-bottom: 24px;
      height: auto;
    }
  }

  // Order Hisotry
  &__order-history {
    position: relative;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 24px;
      @include max(767px) {
        padding: 16px 12px;
      }
      h2,
      a {
        text-transform: capitalize;
      }
      h2 {
        color: color(gray-9);
        @include max(575px) {
          font-size: 16px;
        }
      }
      a {
        color: color(primary);
        @include max(575px) {
          font-size: 14px;
        }
      }
    }
    &-table {
      &-title,
      &-item {
        font-size: 14px;
        line-height: 21px;
        padding: 12px 24px !important;
        border-bottom: 0px !important;
        @include max(767px) {
          padding: 12px !important;
        }
        @include max(1199px) {
          white-space: nowrap;
        }
      }

      &-title {
        color: color(gray-7);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        background-color: color(gray-0) !important;
      }

      &-item {
        font-weight: 400;
        color: color(gray-8);
        padding: 12px 24px !important;
        @include max(767px) {
          padding: 12px !important;
        }
        &:nth-last-child(1) {
          padding-right: 24px !important;
          text-align: right;
        }

        .order-total {
          &-price {
            font-weight: 500;
            .quantity {
              font-weight: 400;
            }
          }
        }
        &.order-details {
          a {
            font-weight: 500;
            color: color(primary);
          }
        }
      }

      &__product-content {
        tbody {
          tr {
            position: relative;
            width: 100%;
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 96%;
              height: 1px;
              background-color: #e5e5e5;
            }
            &:nth-last-child(1) {
              &::after {
                height: 0px;
              }
            }
          }
        }
      }
    }
  }

  // Pagination
  &__order-pagination {
    padding: 32px 0px;
    padding-top: 12px;

    @include max(767px) {
      padding-top: 32px;
    }
  }

  // =>  Settings content card

  &__content-card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    margin-bottom: 24px;
    &-header {
      padding: 16px 24px;
      box-shadow: 0px 1px 0px 0px #e5e5e5;
      h5 {
        text-transform: capitalize;
        color: color(gray-9);
      }
    }
    &-body {
      padding: 24px;
    }
  }

  // user img card
  &__content {
    &-card-img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      @include max(991px) {
        align-items: flex-start;
        margin-bottom: 30px;
      }
    }
    &-img-wrapper {
      width: 224px;
      height: 224px;
      border-radius: 100%;
      overflow: hidden;
      margin-bottom: 20px;
      div {
        width: inherit;
        height: inherit;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
    .button {
      margin: auto;
      text-align: center;
    }
  }

  // Product
  &__product-item {
    display: flex;
    align-items: center;

    &-img {
      position: relative;
      width: 70px;
      height: 70px;
      overflow: hidden;
      margin-right: 12px;
      img {
        width: inherit;
        height: inherit;
      }
    }
    h5 {
      color: color(gray-9);
    }
  }
}

.upload-image{
  position: relative;
  input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}