// Related Products
.related {
  .swiper-wrapper {
    @include max(991px) {
      padding-bottom: 30px;
    }
  }
  .swiper-pagination {
    @include min(992px) {
      display: none;
    }
  }
}

// Product video view
.products-video {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
  img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }

  .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: color(primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    span{
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      svg{
        margin-left: 10%;
      }
    }
  }

  &:hover {
    .play-icon {
      background-color: color(soft-primary);
      transition: all 0.6s linear;
    }
  }

  // video card item
  &__card {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    padding: 24px 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include max(991px) {
      margin-bottom: 24px;
    }
    @include max(540px) {
      flex-direction: column;
      align-items: flex-start;
    }
    &-item {
      display: flex;
      align-items: center;
      @include max(540px) {
        margin-bottom: 24px;
        &:nth-last-child(1) {
          margin-bottom: 0px;
        }
      }
      .icon {
        margin-right: 15px;
      }
      .text__info {
        h5 {
          font-size: 14px;
          line-height: 21px;
          color: color(gray-9);
          text-transform: capitalize;
          font-weight: 500;
          margin-bottom: 6px;
        }
        p {
          font-size: 13px;
          line-height: 19.5px;
          color: color(gray-5);
          text-transform: capitalize;
          font-weight: 400;
        }
      }
    }
  }
}

// Product Details tabcontent
.products-tab {
  &__btn {
    padding: 0px 16px;
    margin-bottom: 32px;
    box-shadow: 0px 1px 0px 0px #e5e5e5;

    .nav {
      justify-content: center;
      @include max(767px) {
        display: -webkit-box;
        max-width: 100%;
        overflow-x: auto;
        flex-wrap: nowrap;
      }
      @include max(400px) {
        padding-bottom: 16px;
      }
      &-link {
        font-size: 16px;
        line-height: 24px;
        color: color(gray-5);
        font-weight: 500;
        text-transform: capitalize;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 2px solid transparent;
        @include max(767px) {
          white-space: nowrap;
        }
        &.active {
          background-color: transparent;
          color: color(gray-9);
          border-color: color(primary);
          transition: all 0.3s ease-in;
        }
      }
    }
  }

  // Description tab
  &__description--text {
    width: 648px;
    font-size: 14px;
    line-height: 21px;
    color: color(gray-5);
    font-weight: 400;
    margin-bottom: 20px;
    @include max(1200px) {
      width: 100%;
    }
  }

  // Description List
  &__description {
    &--list {
      margin-bottom: 20px;
      li {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        .icon {
          width: 20px;
          height: 20px;
          border-radius: 100%;
          overflow: hidden;
          background-color: color(primary);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 8px;
          color: #fff;
        }
        p {
          font-size: 14px;
          line-height: 19.6px;
          font-weight: 400;
          text-transform: capitalize;
          color: color(gray-5);
        }
      }
    }
  }

  // Information
  &__information-list {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      .title,
      .title-description {
        font-size: 14px;
        line-height: 21px;
        text-transform: capitalize;
      }
      .title {
        width: 112px;
        color: color(gray-9);
        &-description {
          color: color(gray-6);

          &__tags-item {
            color: color(gray-6);
            &:hover {
              color: color(gray-9);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  // Feedback

  &__feedback {
    &-content {
      padding: 20px 0px;
      border-bottom: 1px solid #e5e5e5;
      &:nth-child(1) {
        padding-top: 0px;
      }

      &:nth-last-child(2) {
        border-bottom: 0px;
      }

      &-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        .user-details {
          display: flex;
          align-items: center;
          &__img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            overflow: hidden;
            margin-right: 12px;
            img {
              width: inherit;
              height: inherit;
              object-fit: cover;
            }
          }
          &__info {
            .user-name {
              font-size: 14px;
              line-height: 21px;
              color: color(gray-9);
              text-transform: capitalize;
              font-weight: 500;
            }
          }

          &__rating {
            display: flex;
            align-items: center;
          }
        }
        .user-published__info {
          p {
            font-size: 14px;
            line-height: 21px;
            color: color(gray-4);
            text-transform: capitalize;
            font-weight: 400;
          }
        }
      }
    }

    &-comments {
      font-size: 14px;
      line-height: 21px;
      color: color(gray-5);
      text-transform: capitalizes;
      font-weight: 400;
    }
  }
}
