.arrows {
  display: flex;
  align-items: center;
  @include max(767px) {
    margin-top: 12px;
  }
  button {
    margin-right: 12px;
    &:nth-last-child(1) {
      margin-right: 0px;
    }
  }
  &__btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid color(gray-1);
    background-color: #fff;
    &:hover {
      color: #fff;
      transition: all 0.3s linear;
      background-color: color(primary);
      border-color: transparent;
    }
  }
}
