.pagination {
  &-item {
    margin-right: 8px;
    &:nth-last-child(1) {
      margin-right: 0px;
    }
    &:first-child,
    &:last-child {
      .pagination-link {
        border-radius: 50%;
        color: color(gray-9);
      }
    }

    &:nth-last-child(2),
    &:nth-last-child(3),
    &:nth-last-child(4),
    &:nth-last-child(5) {
      display: none;
    }

    &:hover {
      a {
        color: #fff;
      }
    }

    &.disabled .pagination-link,
    .pagination-link.disabled,
    .pagination-link:disabled {
      background-color: color(gray-0);
      border-color: transparent;
      color: color(gray-3);
      &:hover {
        color: color(gray-3);
      }
    }
  }
  &-link {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: color(gray-6);
    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background-color: color(primary);
      box-shadow: none;
    }
  }
}

.pagination-wrapper ul.pagination {
  margin-top: 20px;
  li .pagination-link {
    border: none;
    margin-left: 0;
  }
  li:first-child a,
  li:last-child a {
    border: 1px solid color(gray-1);
    &:hover {
      border-color: color(primary);
      color: white;
    }
  }
  li:first-child a {
    margin-right: 12px;
  }
  li:last-child a {
    margin-left: 12px;
  }
}
