// Banner Layouts...
.banner {
  position: relative;

  &__wrapper-text {
    z-index: 1;
  }

  // Pagination
  &--03,
  &--04 {
    .swiper-pagination {
      @include min(575px) {
        bottom: 34px;
      }
      &-bullet {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        &-active {
          width: 16px;
          border-radius: 50px;
          transition: all 0.6s linear ease-in-out;
        }
      }
    }
  }

  // Arrows
  &--04,
  &--05 {
    .container {
      position: relative;
      .arrows {
        .swiper-button {
          &--prev,
          &--next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            @include max(1200px) {
              top: auto;
              transform: translateY(0px);
              bottom: 30px;
            }
            @include max(767px) {
              bottom: -15px;
            }
          }
          &--prev {
            left: -30px;
            @include max(1200px) {
              left: auto;
              right: 60px;
            }
          }
          &--next {
            right: -30px;
            @include max(1200px) {
              right: 0px;
            }
            @include max(767px) {
              right: 15px;
            }
          }
        }
      }
    }
  }

  &--01 {
    margin: 24px 0px;
    @include max(767px) {
      margin-bottom: 12px;
    }
    .banner {
      &__wrapper {
        &-img {
          position: relative;
          z-index: 1;
          width: 100%;
          border-radius: 10px;
          overflow: hidden;

          img {
            width: inherit;
            height: inherit;
            object-fit: cover;
          }
        }
        &-text {
          position: absolute;
        }

        &--img-02,
        &--img-03 {
          height: 288px;
          .banner__wrapper-text {
            .button {
              background-color: transparent;
              color: color(primary);
              text-transform: capitalize;
              font-weight: 600;
              padding: 0;
            }
          }
        }

        &--img-01 {
          height: 600px;
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              90.02deg,
              rgba(0, 0, 0, 0.7) 0.03%,
              rgba(0, 0, 0, 0) 91.31%
            );
          }

          .banner__wrapper-text {
            top: 165px;
            left: 65px;
            h2 {
              width: 70%;
              color: #fff;
            }

            .sale-off {
              margin: 30px 0px;
              padding-left: 12px;
              border-left: 2px solid color(soft-primary);

              h5 {
                color: #fff;
                margin-bottom: 12px;
                span {
                  text-transform: uppercase;
                  font-weight: 600;
                  padding: 4px 12px;
                  background-color: color(warning);
                  border-radius: 5px;
                }
              }
              p {
                color: color(gray-2);
                font-size: 14px;
                line-height: 21px;
              }
            }

            .button {
              background-color: #fff;
              color: color(primary);
              &:hover {
                background-color: color(gray-1);
              }
            }
          }
        }

        &--img-02 {
          margin-bottom: 24px;

          .banner__wrapper-text {
            top: 32px;
            left: 32px;
            h5 {
              letter-spacing: 0.03em;
              text-transform: uppercase;
              color: color(gray-9);
              margin-bottom: 8px;
            }
            h2 {
              text-transform: uppercase;
              color: color(gray-9);
              margin-bottom: 12px;
            }

            p {
              font-size: 14px;
              line-height: 21px;
              color: color(gray-6);
              margin-bottom: 24px;
            }
          }
        }

        &--img-03 {
          .banner__wrapper-text {
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            h5,
            h2 {
              color: #fff;
            }

            h5 {
              text-transform: uppercase;
              margin-bottom: 12px;
            }
            h2 {
              max-width: 72%;
              margin: auto;
              margin-bottom: 32px;
            }
          }
        }
      }
    }
  }

  &--02 {
    margin-top: 24px;
    .banner {
      &__wrapper-img {
        position: relative;
        width: 100%;
        height: 560px;
        overflow: hidden;
        z-index: 2;
        &::after {
          position: absolute;
          content: '';
          z-index: -1;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0) 56.91%
          );
        }
        img {
          width: inherit;
          height: inherit;
          object-fit: cover;
        }
      }

      &__wrapper-text {
        position: absolute;
        top: 50%;
        left: 48px;
        transform: translateY(-50%);
        h2 {
          color: #fff;
          max-width: 400px;
          text-transform: capitalize;
          opacity: 0.3;
        }
        .sale-off {
          border-left: 1px solid transparent;
          padding-left: 12px;
          margin: 20px 0px 33px;
          h5 {
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.6);
            max-width: 135px;
            span {
              color: rgba(255, 255, 255, 0.6);
            }
          }
        }
        a.button {
          background-color: color(hard-primary);
        }
      }
    }
    // Swiper pagination
    .swiper-pagination {
      position: absolute;
      left: 48px;
      bottom: 32px;
      text-align: left;
      &-bullet {
        width: 10px;
        height: 10px;
        background-color: #fff;
      }
    }

    .swiper-container-horizontal
      > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
      left: 48px;
      transform: unset;
    }
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next,
    .swiper-pagination-bullets-dynamic
      .swiper-pagination-bullet-active-next-next {
      left: 0 !important;
      transform: unset !important;
    }

    // Swiper slide Animation
    .swiper-slide {
      &-active {
        .banner__wrapper-text {
          h2,
          h5 span,
          a.button {
            transition: all 0.6s ease-in;
          }
          h2 {
            opacity: 1;
          }
          h5 {
            span {
              color: #fff;
            }
          }
          .sale-off {
            border-color: color(primary);
            transition: all 0.9s linear;
          }
          a.button {
            background-color: color(primary);
          }
        }
      }
    }
  }

  &--03 {
    .swiper-container {
      @include max(991px) {
        width: 95%;
        margin: auto;
        margin-top: 24px;
        background-color: color(green-0);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }

    &__content {
      width: 1520px;
      height: 740px;
      border-radius: 8px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      margin: auto;
      background-color: color(green-0);
      padding-left: 85px;
      margin-top: 24px;
      display: flex;
      align-items: center;
      overflow: hidden;
      @include max(1680px) {
        width: 95%;
      }
      @include max(1200px) {
        padding-left: 18px;
      }

      @include max(991px) {
        height: auto;
        padding-bottom: 115px;
      }
      @include max(767px) {
        padding-left: 0px;
      }
    }

    &__text-content {
      @include max(767px) {
        text-align: center;
      }
      .title {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: color(primary);
        transform: translateY(-60px);
        opacity: 0.3;
        @include max(991px) {
          transform: translate(-150px, 0px);
        }
        @include max(767px) {
          margin-bottom: 10px;
        }
      }
      h2 {
        color: color(gray-9);
        margin-bottom: 28px;
        opacity: 0.3;
        @include max(1200px) {
          font-size: 62px;
          line-height: 76px;
        }
        @include max(991px) {
          font-size: 48px;
          line-height: 60px;
          margin-bottom: 14px;
        }
        @include max(767px) {
          font-size: 32px;
          line-height: 42px;
        }
      }

      h6 {
        font-weight: 400;
        color: color(gray-9);
        text-transform: capitalize;
        margin-bottom: 12px;
        span {
          font-weight: 600;
          color: color(warning);
          text-transform: uppercase;
          opacity: 0;
        }
        @include max(991px) {
          font-size: 28px;
          line-height: 38px;
        }
        @include max(767px) {
          font-size: 24px;
          line-height: 28px;
        }
      }
      p {
        color: color(gray-5);
        text-transform: capitalize;
      }
      a.button {
        margin-top: 32px;
        background-color: color(soft-primary);
      }
    }
    &__img-wrapper {
      opacity: 0.3;
      img {
        max-width: 100%;
      }
    }
    .swiper-slide {
      opacity: 0 !important;
      &-active {
        opacity: 1 !important;
        .banner--03 {
          &__text-content {
            h5,
            h2,
            h6 span {
              opacity: 1;
              transition: all 0.9s linear;
            }
            h5 {
              transform: translateY(0px);
              transition: all 0.6s ease-in;
              @include max(991px) {
                transform: translate(0px);
              }
            }
            a.button {
              background-color: color(primary);
              transform: all 0.9s linear;
            }
          }
          &__img-wrapper {
            opacity: 1;
            transition: all 0.9s linear;
          }
        }
      }
    }
  }

  &--04 {
    .swiper-pagination {
      @include max(767px) {
        bottom: 0px;
      }
    }

    &__content {
      height: 700px;
      display: flex;
      align-items: center;
      @include max(991px) {
        height: 100%;
      }
      @include max(767px) {
        padding: 30px 0px 90px 0px;
      }
    }

    &__img-wrapper {
      opacity: 0.3;
      position: relative;
      .off-sale {
        position: absolute;
        top: 15px;
        right: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: color(warning);
        @include min-max(992px, 1199px) {
          top: 0px;
          right: 0px;
        }

        @include max(767px) {
          width: 60px;
          height: 60px;
          right: 0px;
        }

        p {
          font-size: 16px;
          line-height: 16px;
          letter-spacing: 0.02em;
          font-weight: 500;
          text-transform: uppercase;
          color: #fff;
          text-align: center;
          span {
            font-size: 32px;
            line-height: 38.4px;
            font-weight: 600;
            @include max(767px) {
              font-size: 18px;
              line-height: 18px;
            }
          }
        }
      }
    }

    &__text-content {
      h5 {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: color(primary);
        font-family: $font-2;
        transform: translateX(90px);
        opacity: 0.3;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
      h2 {
        font-size: 56px;
        line-height: 67.2px;
        color: color(green-9);
        margin-bottom: 20px;
        opacity: 0.3;
        @include max(767px) {
          font-size: 32px;
          line-height: 42px;
        }
      }
      p {
        font-weight: 400;
        color: color(gray-9);
        font-size: 18px;
      }
      a.button {
        margin-top: 32px;
        background-color: color(soft-primary);
      }
    }

    .swiper-slide {
      opacity: 0 !important;
      &-active {
        opacity: 1 !important;

        .banner--04 {
          &__img-wrapper {
            opacity: 1;
          }
          &__text-content {
            h5,
            h2,
            p {
              transition: all 0.9s linear;
            }
            h5,
            h2 {
              opacity: 1;
            }
            h5 {
              transform: translateX(0px);
            }
            p {
              color: color(green-5);
            }
            a.button {
              background-color: color(primary);
            }
          }
        }
      }
    }
  }

  &--05 {
    .swiper-pagination {
      &-bullet {
        width: 12px;
        height: 12px;
        &-active {
          width: 12px;
          height: 12px;
          border-radius: 50%;
        }
      }
    }

    .swiper-container {
      @include max(991px) {
        width: 100%;
      }
    }
    .container {
      .arrows {
        .swiper-button {
          &--next,
          &--prev {
            bottom: 30px;
          }
        }
      }
    }

    &__overlay {
      &-img {
        position: absolute;
        color: color(green-1);
        pointer-events: none;
        user-select: none;
        @include max(991px) {
          display: none;
        }
        &.one {
          top: 0;
          left: 85px;
        }
        &.two {
          bottom: 24px;
          left: 302px;
        }

        &.three {
          top: 0;
          right: 0;
        }
        &.four {
          right: 168px;
          bottom: -60px;
        }
        &.five {
          top: 70px;
          left: 165px;
        }
        &.six {
          left: 140px;
          bottom: 35px;
        }

        &.seven {
          top: 0;
          right: 768px;
        }
        &.eight {
          top: 48px;
          right: 300px;
        }
        &.nine {
          right: 0;
          bottom: 0;
        }
      }
    }

    .banner--03 {
      .container {
        .arrows {
          .swiper-button {
            &--next {
              right: 30px;
            }
            &--prev {
              right: 90px;
            }
          }
        }
      }

      .swiper-container {
        width: 100%;
      }
      &__content {
        background-color: transparent;
        height: 580px;
        padding-left: 0px;
        width: 100%;
        z-index: 2;
        @include max(991px) {
          height: 100%;
        }
      }
    }
  }
}

// Banner Sales
.banner-sale {
  &__img-wrapper {
    position: relative;
    width: 100%;
    height: 358px;
    border-radius: 10px;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0.8) -0.76%, rgba(0, 0, 0, 0.1) 43.11%);
      @include max(991px) {
        background: rgba(0, 38, 3, 0.8);
      }
    }
    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }
  &__text-content {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    z-index: 1;
    h5 {
      font-size: 16px;
      line-height: 16px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      margin-bottom: 12px;
    }
    h2 {
      font-size: 56px;
      line-height: 67.2px;
      color: color(warning);
      font-weight: 600;
      margin-bottom: 16px;
      span {
        color: #fff;
        font-weight: 400;
      }
    }

    p {
      color: #fff;
      opacity: 70%;
      max-width: 75%;
      margin-bottom: 28px;
    }
    a.button {
      &:hover {
        background-color: #fff;
        color: color(primary);
      }
    }
  }

  &--two {
    &__img-wrapper {
      position: relative;
      width: 100%;
      height: 360px;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }
    &__text-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 40px;
      @include max(767px) {
        left: 15px;
      }
      .title {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.03em;
        color: #fff;
        text-transform: uppercase;
      }
      h5 {
        color: #fff;
        margin-bottom: 15px;
        @include max(767px) {
          font-size: 28px;
          line-height: 38px;
        }
      }
      p {
        color: rgba(255, 255, 255, 0.8);
        span {
          color: #fff;
          margin-left: 8px;
          padding: 4px 8px;
          border-radius: 5px;
          background-color: color(warning);
        }
      }
      a.button {
        margin-top: 24px;
      }
    }
  }
}

// Responsive
@media (max-width: 1200px) {
  .banner--01 .banner__wrapper--img-01 .banner__wrapper-text {
    top: 50%;
    transform: translateY(-50%);
  }
  .banner--01 .banner__wrapper--img-02 .banner__wrapper-text {
    top: 50%;
    transform: translateY(-50%);
  }

  .banner--01 .banner__wrapper--img-03 .banner__wrapper-text h2,
  .banner--01 .banner__wrapper--img-03 .banner__wrapper-text .h2 {
    max-width: 95%;
  }

  // Banner Sales Cards
  .banner-sale {
    &__text-content {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      p {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 1199px) {
  .banner--01 .banner__wrapper--img-03 .banner__wrapper-text h5,
  .banner--01 .banner__wrapper--img-03 .banner__wrapper-text .h5,
  .banner--01 .banner__wrapper--img-02 .banner__wrapper-text h5,
  .banner--01 .banner__wrapper--img-02 .banner__wrapper-text .h5,
  .banner--01 .banner__wrapper--img-02 .banner__wrapper-text p {
    margin-bottom: 0px;
  }

  .banner--01 .banner__wrapper--img-03 .banner__wrapper-text h2,
  .banner--01 .banner__wrapper--img-03 .banner__wrapper-text .h2,
  .banner--01 .banner__wrapper--img-03 .banner__wrapper-text .h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  // Banner 01
  .banner__wrapper-img-sm {
    display: flex;
    margin-top: 12px;
    .banner__wrapper-img {
      margin-right: 12px;
      margin-bottom: 0px;

      &:nth-last-child(1) {
        margin-right: 0px;
      }
    }
  }
}

@media (max-width: 767px) {
  // ====== Homepage 01 ========= \\

  // Swiper Slider Customizations
  .banner {
    &-slider {
      &--one {
        .banner {
          &__wrapper {
            &-img {
              overflow: hidden;
            }

            &--img-01 {
              height: 288px;
            }

            &--img-01,
            &--img-02,
            &--img-03 {
              .banner__wrapper-text {
                .button {
                  span {
                    svg {
                      opacity: 0.3;
                      transform: translateY(-3px) rotate(-45deg);
                    }
                  }
                }
              }
            }

            &--img-01 {
              .banner__wrapper-text {
                h2,
                .sale-off span {
                  opacity: 0;
                }
                h2 {
                  transform: translateX(-350px);
                  pointer-events: none;
                  transition: all 0.6s ease-in-out;
                }
              }
            }
            &--img-02,
            &--img-03 {
              .banner__wrapper-text {
                h5,
                h2 {
                  opacity: 0.6;
                }
                h5 {
                  transform: translateY(-250px);
                }
                h2 {
                  transform: translateX(-350px);
                }
              }
            }
          }
        }

        .swiper-slide {
          opacity: 0 !important;
          &-active {
            opacity: 1 !important;
            transition: all 0.6s ease-in-out;
            .banner__wrapper {
              &--img-01,
              &--img-02,
              &--img-03 {
                .banner__wrapper-text {
                  .button {
                    span {
                      svg {
                        opacity: 1;
                        transform: translateY(0px) rotate(0deg);
                        transition: all 0.6s linear;
                      }
                    }
                  }
                }
              }

              &--img-01 {
                .banner__wrapper-text {
                  h2 {
                    transform: translateX(0);
                    opacity: 1;
                    transition: all 0.9s linear;
                    pointer-events: all;
                  }
                  .sale-off {
                    span {
                      opacity: 1;
                      transition: all 0.3s ease-in-out;
                      transition-delay: 0.6s;
                    }
                  }
                }
              }

              &--img-02,
              &--img-03 {
                .banner__wrapper-text {
                  h5,
                  h2 {
                    opacity: 1;
                    transform: translate(0);
                  }
                  h5 {
                    transition: all 0.6s linear;
                  }
                  h2 {
                    transition: all 0.9s ease-in;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .banner--01 .banner__wrapper--img-01 .banner__wrapper-text,
  .banner--01 .banner__wrapper--img-02 .banner__wrapper-text,
  .banner--01 .banner__wrapper--img-03 .banner__wrapper-text {
    left: 15px;
  }

  .banner--01 .banner__wrapper--img-01 .banner__wrapper-text h2,
  .banner--01 .banner__wrapper--img-01 .banner__wrapper-text .h2 {
    width: 100%;
  }
  .banner__wrapper-img-sm {
    flex-direction: column;
    .banner__wrapper-img {
      margin-right: 0px;
      margin-bottom: 12px;
    }
  }

  .banner--01 .banner__wrapper--img-03 .banner__wrapper-text {
    left: 32px;
    text-align: left;
    h2 {
      margin-left: 0px;
    }
  }

  .banner__wrapper-img-sm .banner__wrapper-img {
    margin-bottom: 12px;
  }

  .banner--01 .banner__wrapper--img-01 .banner__wrapper-text h2,
  .banner--01 .banner__wrapper--img-01 .banner__wrapper-text .h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .banner--01 .banner__wrapper--img-01 .banner__wrapper-text .sale-off {
    margin: 15px 0px;
  }
  .banner--01 .banner__wrapper--img-01 .banner__wrapper-text .sale-off h5,
  .banner--01 .banner__wrapper--img-01 .banner__wrapper-text .sale-off .h5 {
    font-size: 14px;
    line-height: 21px;
  }

  .banner--01 .banner__wrapper--img-01 .banner__wrapper-text .button,
  .banner--01 .banner__wrapper--img-01 .banner__wrapper-text .button:hover {
    background-color: transparent;
    padding: 0px;
  }

  .banner--01 .banner__wrapper--img-01 .banner__wrapper-text .sale-off h5,
  .banner--01 .banner__wrapper--img-01 .banner__wrapper-text .sale-off .h5 {
    margin-bottom: 5px;
  }

  // banner sales cards
  .banner-sale__text-content {
    width: 95%;
  }

  // ===== Homepage 02 ====== \\
  .banner--02 {
    .swiper-pagination,
    .banner--02__wrapper-text {
      left: 12px;
    }
    .swiper-pagination {
      bottom: 15px;
    }
    .banner {
      &__wrapper-img {
        height: 350px;
      }

      &__wrapper-text {
        left: 12px;
        h2 {
          font-size: 32px;
          line-height: 42px;
          max-width: 100%;
        }
        .sale-off {
          h5 {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }
    }
  }
}
