.form-check {
  &-label {
    font-size: 14px;
    line-height: 28px;
    color: color(gray-7);
    font-weight: 400;
    text-transform: capitalize;
  }
  &-input {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    border: 1px solid #cccccc;
    margin-right: 6px;
    box-shadow: none;
    &:checked {
      background-color: color(primary);
      border-color: color(primary);
      box-shadow: none;
    }
    &:focus {
      box-shadow: none;
      border-color: color(primary);
    }
  }
}

.contact-form {
  &__contact-info,
  &-card {
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 56px 0px #00260314;
    overflow: hidden;
  }

  &__contact-info {
    text-align: center;
    padding: 0px 20px;
    @include max(991px) {
      margin-bottom: 24px;
    }
    &--item {
      padding-top: 30px;
      padding-bottom: 24px;
      border-top: 1px solid #e5e5e5;
      &:nth-child(1) {
        border-top: 0px;
      }
      &:nth-last-child(1) {
        border-bottom: 0px;
      }
      .icon {
        display: inline-block;
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
        line-height: 27.2px;
        color: color(gray-8);
      }
    }
  }

  &-card {
    padding: 45px 50px;
    padding-bottom: 50px;
    height: auto;
    @include max(767px) {
      padding: 30px;
    }
    h2 {
      font-size: 24px;
      line-height: 36px;
      font-weight: 600;
      color: color(gray-9);
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    p {
      font-size: 14px;
      line-height: 21px;
      color: color(gray-5);
      text-transform: capitalize;
      width: 485px;
      @include max(767px) {
        width: 100%;
      }
    }

    form {
      margin-top: 24px;
    }
  }

  // contact form input
  &--input {
    position: relative;
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    overflow: hidden;
    label {
      position: absolute;
      top: -26px;
      font-size: 14px;
      line-height: 21px;
      color: color(gray-9);
      font-weight: 400;
      text-transform: capitalize;
    }
    input,
    textarea {
      width: 100%;
      height: inherit;
      padding-left: 16px;
      border-radius: 6px;
      border: 1px solid #e5e5e5;
      font-size: 16px;
      line-height: 20.8px;
      color: color(gray-9);
      background-color: inherit;
      &::placeholder {
        font-size: inherit;
        line-height: inherit;
        color: color(gray-4);
      }
      &.active,
      &:hover,
      &:focus {
        border: 1px solid color(primary);
        transition: all 0.6s linear;
      }
    }
  }

  &--input-area {
    height: 98px;

    textarea {
      padding-top: 14px;
      resize: none;
    }
  }

  &--check {
    input {
      box-shadow: none;
      border: 1px solid color(gray-2);
      &:checked {
        background-color: color(primary);
        border: color(primary);
      }
    }
    label {
      font-size: 14px;
      line-height: 28px;
      color: color(gray-6);
      text-transform: capitalize;
      font-weight: 400;
    }
  }

  &-group {
    display: flex;
    align-items: center;
    @include max(767px) {
      flex-direction: column;
    }
    .contact-form--input {
      margin-right: 16px;
      &:nth-last-child(1) {
        margin-right: 0px;
      }
      @include max(767px) {
        margin-right: 0px;
      }
    }
  }

  &-button {
    margin-top: 24px;
  }
}

.contact-form {
  &__content-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include max(991px) {
      flex-direction: column;
    }
    .contact-form-input {
      margin-right: 16px;
      width: 100%;
      @include max(991px) {
        margin-right: 0px;
      }
      &:nth-last-child(1) {
        margin-right: 0px;
      }
    }
  }

  &-input {
    margin-bottom: 16px;
    position: relative;
    label {
      font-size: 14px;
      line-height: 21px;
      color: color(gray-9);
      text-transform: capitalize;
      margin-bottom: 6px;
      display: flex;
      span {
        color: color(gray-6);
      }
    }
    input {
      position: relative;
      width: 100%;
      height: 50px;
      padding-left: 16px;
      padding-right: 60px;
      font-size: 16px;
      line-height: 20.8px;
      color: #999999;
      font-weight: 400;
      border: 1px solid #e5e5e5;
      border-radius: 6px;
      background-color: #fff;
      @include max(767px) {
        padding-right: 16px;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &::placeholder {
        font-size: inherit;
        line-height: inherit;
        color: color(gray-6);

        @include max(767px) {
          font-size: 12px;
        }
      }

      &[type='password'] {
        @include max(767px) {
          padding-right: 60px;
        }
      }

      &:active,
      &:hover,
      &:focus {
        border-color: color(primary);
        transform: all 0.3s linear;
      }
    }

    // Dropdown input
    .bv_mainselect {
      padding: 0px;
      height: 50px;
      &:hover,
      &.active {
        border-color: color(primary);
        transition: all 0.3s linear;
      }
      .bv_atual {
        border: 0px;
        height: inherit;
        border: 1px solid #e5e5e5;
        font-size: 16px;
        line-height: 30px;
        color: color(gray-6);
        padding-left: 16px;
        &:hover,
        &.active {
          border-color: color(primary);
          transition: all 0.3s linear;
        }
        .arrow {
          border-color: color(gray-4);
          border-width: 0 1.5px 1.5px 0;
          display: inline-block;
          padding: 3px;
          margin-right: 8px;
        }
      }
      .bv_ul_inner {
        border: 1px solid #e5e5e5;
        z-index: 9;
      }
    }

    .icon {
      position: absolute;
      top: calc(50% + 10px);
      transform: translateY(-50%);
      right: 18px;
      cursor: pointer;
    }
    &.filled {
      input {
        color: color(gray-6);
      }
    }
  }

  &-textarea {
    textarea {
      resize: none;
      width: 100%;
      height: 100px;
      border: 1px solid #e5e5e5;
      border-radius: 6px;
      padding: 14px 16px;
      font-size: 16px;
      line-height: 20.8px;
      font-weight: 400;
      color: color(gray-6);
      &:hover,
      &.active {
        border-color: color(primary);
        transition: all 0.3s linear;
      }
      &::placeholder {
        font-size: inherit;
        line-height: inherit;
        color: inherit;
      }
    }
  }

  &-btn {
    margin-top: 8px;
  }
}
