<!-- Forgot Password Section Start -->
<section class="forgot-password section section--xl">
  <div class="container">
    <div class="form-wrapper">
      <h6 class="font-title--sm">Forgot Password</h6>
      <form id="form-forgot-password" action="/authen/forgot-pass" method="post">
        <div class="form-input">
          <input type="email" placeholder="Email" name="email" required>
        </div>
        <div id="forgotPassNotification" style="display: none;"></div>
        
        <div class="form-button">
          <button id="forgotPassButton" class="button button--md w-100">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- Forgot Password Section end -->

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const forgotPassButton = document.getElementById('forgotPassButton');

    forgotPassButton.addEventListener('click', sendForgotPasswordRequest);

    async function sendForgotPasswordRequest(event) {
      event.preventDefault();

      // Disable the button to prevent multiple clicks
      forgotPassButton.disabled = true;

      const emailInput = document.querySelector('input[name="email"]');
      const email = emailInput.value;

      if (!email) {
        showForgotPassError('Please enter your email.');

        // Re-enable the button
        forgotPassButton.disabled = false;
        return;
      }

      try {
        const response = await fetch('/authen/forgot-pass', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ email }),
        });

        const data = await response.json();

        if (data.success) {
          window.location.href = '/authen/reset-pass';
          // Request successful, provide feedback to the user
          showForgotPassSuccess(data.message);
        } else {
          // Request failed, display an error message
          showForgotPassError(data.message);
        }
      } catch (error) {
        // Handle unexpected errors
        showForgotPassError('Internal Server Error');
      } finally {
        // Re-enable the button regardless of the outcome
        forgotPassButton.disabled = false;
      }
    }

    function showForgotPassError(errorMessage) {
      const notificationDiv = document.getElementById('forgotPassNotification');
      notificationDiv.textContent = errorMessage;
      notificationDiv.style.display = 'block';
      notificationDiv.style.color = '#EA4B48'; // Red color for error
    }

    function showForgotPassSuccess(successMessage) {
      const notificationDiv = document.getElementById('forgotPassNotification');
      notificationDiv.textContent = successMessage;
      notificationDiv.style.display = 'block';
      notificationDiv.style.color = '#4CAF50'; // Green color for success
    }
  });
</script>
