<!-- Reset Password Section Start  -->
<section class="reset-password section section--xl">
  <div class="container">
    <div class="form-wrapper">
      
      <h6 class="font-title--sm">Reset Password</h6>
      <form id="form-reset-password" action="/reset-password" method="post">
        <div class="form-input">
          <input type="text" placeholder="Token" name="token" />
        </div>
        <div class="form-input">
          <input type="password" placeholder="New Password" name="newPassword" />
        </div>
        <div class="form-input">
          <input type="password" placeholder="Confirm New Password" name="confirmNewPassword" />
        </div>
        <div class="form-button">
          <button class="button button--md w-100">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- Reset Password Section end  -->