      <section class="create-account section section--xl">
        <form id="registrationForm" class="container">
          <div class="form-wrapper">
            
            <h6 class="font-title--sm">create account</h6>
              <form action="/authen/register" method="post" >
              <div class="form-input">
              <input type="text" placeholder="first name" name="first_name"/>
              </div>
              <div class="form-input">
                <input type="text" placeholder="last name" name="last_name" />
              </div>
              <div class="form-input">
                <input id="email" type="email" placeholder="Email" name="email">
              </div>
              
              <div class="form-input">
                <input type="password" placeholder="Password" id="password" name ="password"/>
              </div>
            

          <div id="notification" style="display: none;"></div>

              <div class="form-button">
                <button class="button button--md w-100">Create Account</button>
              </div>


              <div class="form-register">
                Already have account ? <a href="/authen/login">Login</a>
              </div>
            </form>
          </div>
        </form>
      </section>

  <script>
  document.addEventListener('DOMContentLoaded', function () {
    const registrationForm = document.getElementById('registrationForm');

    registrationForm.addEventListener('submit', async function (event) {
      event.preventDefault(); // Prevent the default form submission behavior

      const formData = new FormData(registrationForm);

      try {
        const response = await fetch('/authen/register', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json', // Set the content type to JSON
          },
          body: JSON.stringify(Object.fromEntries(formData)), // Convert form data to JSON
        });

        const data = await response.json();

        if (data.success) {
          // Registration successful, redirect to the specified URL
          const email = formData.get('email');
          window.location.href = `/authen/verify/${email}`;
        } else {
          // Registration failed, display an error message
          // showNotification('error', data.message);
          handleRegistrationError(data.message);
        }
      } catch (error) {
        
        handleRegistrationError('Internal Server Error');
      }
    });

    function handleRegistrationError(errorMessage) {
      const notificationDiv = document.getElementById('notification');
      notificationDiv.textContent = errorMessage;
      notificationDiv.style.display = 'block';
      notificationDiv.style.color = '#EA4B48'; // Red color for error
    }

    
  });

  </script>